# This is an example file. Copy it to .env and fill in your actual values.

PORT=5000
MONGO_URI="mongodb+srv://<user>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
JWT_SECRET="your_super_secret_key_for_jwt_that_is_very_long_and_random"

DEBUG_VIEW_KEY="a_secret_key_for_viewing_orders_in_dev"